@import './node_modules/bootstrap/scss/bootstrap.scss';

body {
  background-color: #F0FFFE;
  color: #390213;
}

ul {
  display: table;

  li {
    display: table-cell;
  }
}

.article-img {
  max-height: 15vw;
}


ul li {
  width: 20%
}

.brown-color {
  color: #390213 !important;
}

.article-square {
  &:hover {
    box-shadow: 0px 0px 29px -15px rgba(0,0,0,0.75);
    border-radius: 15px;
  }
}

iframe {
  width: 80%;
  height: 95vh;
}